* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins;
}

.logo {
  color: white;
  margin-top: 1.2em;
  cursor: pointer;
}
.logo span {
  color: blue;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../Assets/Untitled\ design\ \(13\).png);
  background-repeat: no-repeat;
  background-position-x: 65%;
  background-position-y: 100%;
  background-size: cover;
}

nav {
  padding: 1.1em auto;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  z-index: 2;
  padding-top: 5em;
  text-transform: capitalize;
  background: rgba(245, 245, 245, 0.986);
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
nav svg {
  float: right;
  display: block;
  margin-top: -45px;
  margin-right: 30px;
}
nav ul {
  list-style-type: none;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: blue;
  padding: 0.75em 2em;
  display: block;
  width: 100%;
}
nav a:hover {
  background: blue;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

.menu {
  width: 1.8em;
  padding: 2em auto;
  margin-top: 2em;
  margin-right: 0.5em;
  cursor: pointer;
}

.content {
  position: absolute;
  color: white;
  margin-top: 5em;
}
.content h1 {
  margin-top: 1em;
  margin-left: 0.5em;
  font-size: 2.3rem;
}
.content h1 span {
  color: blue;
}
.content h3 {
  color: white;
  font-size: 1rem;
  margin: 1em 0;
  margin-left: 1.2em;
}
.content h4 {
  color: rgb(190, 190, 255);
  letter-spacing: 0.1em;
  margin-left: 1.8em;
  font-size: 0.9em;
}
.content .newsletter form {
  width: 80%;
  max-width: 100%;
  position: relative;
  margin-left: 1em;
  margin-top: 2em;
}
.content .newsletter form input:first-child {
  display: inline-block;
  width: 90%;
  padding: 0.8em;
  border: 0.2em solid rgb(98, 98, 255);
  outline: none;
  border-radius: 5em;
}
.content .newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0.6em 1em;
  border-radius: 5em;
  margin-left: -6.5em;
  margin-top: 0.4em;
  color: white;
  background-color: blue;
  -webkit-box-shadow: 0 0 0.2em #000, 0 0 1em #858585;
          box-shadow: 0 0 0.2em #000, 0 0 1em #858585;
}

.about {
  width: 100%;
  padding: 5em 0;
  background-color: rgb(26, 26, 26);
}

.about img {
  height: 15rem;
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.abouttext {
  color: white;
  margin: 1em;
  margin-top: 2em;
}
.abouttext h2 {
  text-align: center;
  padding: 2em;
  font-size: 1.9rem;
  color: white;
}
.abouttext h5 {
  color: white;
  text-align: left;
  letter-spacing: 0.2em;
  font-size: 1rem;
  margin-bottom: 1em;
}
.abouttext h5 span {
  color: blue;
}
.abouttext p {
  color: rgb(190, 190, 255);
  line-height: 1.5em;
  font-size: 1rem;
  text-align: left;
}
.abouttext button {
  background-color: blue;
  color: white;
  text-decoration: none;
  border: 0.2em solid transparent;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 30px;
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.abouttext button:hover {
  color: white;
  border: 0.2em solid blue;
  background-color: transparent;
  cursor: pointer;
}

.service {
  background: #101010;
  width: 100%;
  padding: 10em 0;
}
.service .title h2 {
  color: white;
  font-size: 1.9rem;
  width: 100%;
  margin: 1.5em auto;
  text-align: center;
}
.service .box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4em;
}
.service .box .card {
  height: 22em;
  width: 85%;
  background: #191919;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0.5em auto;
  padding: 2em 1em;
}
.service .box .card i {
  font-size: 5rem;
  display: block;
  text-align: center;
  margin: 1em 0;
  color: blue;
}
.service .box .card h5 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.service .box .card .pra p {
  color: rgb(190, 190, 255);
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.service .box .card .button {
  text-decoration: none;
  font-size: 0.8em;
  color: white;
  padding: 0.6em 1.5em;
  background: blue;
  border-radius: 1em;
  margin-top: 10em;
}
.service .box .card .button .button:hover {
  background: transparent;
  border: 2px solid blue;
}

.contact {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  background: #191919;
}
.contact p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3em;
}
.contact .button {
  text-decoration: none;
  color: white;
  padding: 0.5em 2em;
  background: blue;
  border-radius: 2em;
}
.contact .button:hover {
  background: transparent;
  border: 2px solid blue;
}

footer {
  width: 100%;
  height: 200px;
  background: #101010;
  text-align: center;
  padding-top: 50px;
}

footer p:nth-child(1) {
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 15px;
  width: 100%;
  text-align: center;
  line-height: 26px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.social a {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: blue;
  border-radius: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 2px;
  align-content: center;
  text-align: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.end {
  color: blue;
  bottom: 35px;
  font-size: 14px;
  font-weight: bold;
  background-color: #101010;
  padding-top: 25px;
}

@media only screen and (min-width: 980px) {
  .menu {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: auto;
    background: none;
    margin: 0;
    padding: 0;
  }
  nav svg {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-left: 80px;
    padding: 0;
  }
  nav a {
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
    padding: 10px 30px;
    width: 100%;
    color: white;
    font-weight: bold;
  }
  nav .btn {
    padding: auto;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    background: blue;
    width: 14%;
    border-radius: 10px;
  }
  nav li {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .header {
    margin: 0;
    padding: 0;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    width: 100%;
  }
  .logo {
    margin-top: 20px;
    margin-left: 50px;
    padding: 0;
  }
  .hero {
    height: 80vh;
    background-position-y: 90%;
  }
  .content {
    margin-top: 100px;
    margin-left: 20px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 20px;
  }
  .main h2 {
    margin: unset;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: unset;
    margin-bottom: 25px;
  }
  .main button {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: unset;
    margin-top: 20px;
  }
  .main img {
    height: 70vh;
    width: 50%;
  }
  .abouttext {
    width: 50%;
    margin-top: 100px;
  }
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media only screen and (min-width: 1330px) {
  .menu {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: auto;
    background: none;
    margin: 0;
    padding: 0;
  }
  nav svg {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-left: 200px;
    padding: 0;
  }
  nav a {
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
    padding: 10px 30px;
    width: 100%;
    color: white;
    font-weight: bold;
  }
  nav .btn {
    padding: auto;
    margin-top: 30px;
    margin-right: 40px;
    color: white;
    background: blue;
    width: 10%;
    border-radius: 10px;
  }
  nav li {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .header {
    margin: 0;
    padding: 0;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    width: 100%;
  }
  .logo {
    margin-top: 30px;
    margin-left: 70px;
    padding: 0;
  }
  .hero {
    height: 100vh;
    background-position-y: 100%;
  }
  .content {
    margin-top: 170px;
    margin-left: 100px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 20px;
  }
  .main h2 {
    margin: unset;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: unset;
    margin-bottom: 25px;
  }
  .main button {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: unset;
    margin-top: 20px;
  }
  .main img {
    height: 60vh;
    width: 32%;
  }
  .abouttext {
    width: 50%;
    margin-top: 100px;
  }
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
    margin: 20px;
    margin-top: 50px;
  }
}