*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.logo{
    color: white;
    margin-top: 1.2em;
    cursor: pointer;
    span{
        color: blue
    };
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../Assets/Untitled\ design\ \(15\).png);
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-position-y: 100%;
    background-size: cover;

    
}
nav{
    padding: 1.1em auto;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    z-index: 2;
    padding-top: 5em;
    text-transform: capitalize;
    background: rgba(245, 245, 245, 0.986);
    transform: translatex(100%);
    transition: transform .5s ease-in-out;

    .close{
        float: right;
        display: block;
        margin-top: -45px;
        margin-right: 30px;
    }
    ul{
        list-style-type: none;
        margin: 0;
    }
    a{
        text-decoration: none;
        color: blue;
        padding: .75em 2em;
        display: block;
        width: 100%;
        &:hover{
            background: blue;
            color: white;
        }

    }
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}
.menu{
    width: 1.5em;
    padding: 2em auto;
    margin-top: 2em;
    margin-right: .5em;
    cursor: pointer;
}

.content{
    position: absolute;
    color: white;
    margin-top: 5em;
    h1{
        margin-top: 1em;
        margin-left: .5em;
        font-size: 2.3rem;
        span{
            color: blue;
        }
    }
    h3{
        color: white;
        font-size: 1rem;
        margin: 1em 0;
        margin-left: 1.2em;
    }
    h4{
        color: rgb(190, 190, 255);
        letter-spacing: .1em;
        margin-left: 1.8em;
        font-size: .9em;
    }
    .newsletter form{
        width: 80%;
        max-width: 100%;
        position: relative;
        margin-left: 1em;
        margin-top: 2em;

    }
    .newsletter form input:first-child{
        display: inline-block;
        width: 90%;
        padding: .8em;
        border: .2em solid rgb(98, 98, 255);
        outline: none;
        border-radius: 5em;
    }
    .newsletter form input:last-child{
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: .6em 1em;
        border-radius: 5em;
        margin-left: -6.5em;
        margin-top: .4em;
        color: white;
        background-color: blue;
        box-shadow: 0 0 .2em #000, 0 0 1em #858585;
        
    }

}
.about{
    width: 100%;
    padding: 5em 0;
    background-color: rgb(26, 26, 26);
}
.about img{
    height: 100;
    width: 100%;
    display: flex;
    margin: auto;
}
.abouttext{
   color: white; 
   margin: 1em;
   margin-top: 2em;
   h2{
    text-align: center;
    padding: 2em;
    font-size: 1.9rem;
    color: white;
   }
   h5{
    color: white;
    text-align: left;
    letter-spacing: .2em;
    font-size: 1.0rem;
    margin-bottom: 1em;
    span{
        color: blue;
    }
   }
   p{
    color: rgb(190, 190, 255);
    line-height: 1.5em;
    font-size: 1.0rem;
    text-align: left;
   }
   button{
    background-color:blue;
    color: white;
    text-decoration: none;
    border: .2em solid transparent;
    font-weight: bold;
    padding: .5em 1em;
    border-radius: 30px;
    margin: 2em auto;
    display: flex;
   }
   button:hover{
    color: white;
    border: .2em solid blue;
    background-color: transparent;
    cursor: pointer;
   }

}
.service{
    background: #101010;
    width: 100%;
    padding: 10em 0;
    .title h2{
        color: white;
        font-size: 1.9rem;
        width: 100%;
        margin: 1.5em auto;
        text-align: center;
    }

    .box{
        justify-content: center;
        align-items: center;
        min-height: 4em;
        
        

        .card{
            height: 22em;
            width: 85%;
            background: #191919;
            border-radius: 2em;
            position: relative;
            overflow: hidden;
            text-align: center;
            justify-content: space-around;
            margin: .5em auto;
            padding: 2em 1em;
            i{
                font-size: 5rem;
                display: block;
                text-align: center;
                margin: 1em 0;
                color: blue;
            }
            h5{
                color: white;
                font-size: 1.2rem;
                margin-bottom: 1em;
            }
            .pra p{
                color: rgb(190, 190, 255);
                font-size: 1rem;
                line-height: 1.5em;
                margin-bottom: 1em;
            }
            .button{
                text-decoration: none;
                font-size: .8em;
                color: white;
                padding: .6em 1.5em;
                background: blue;
                border-radius: 1em;
                margin-top: 10em;
                .button:hover{
                    background: transparent;
                    border: 2px solid blue;
                }
            }
        }
    }
}
.contact{
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    background: #191919;
    p{
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 3em;
    }
    .button{
        text-decoration: none;
        color: white;
        padding: .5em 2em;
        background: blue;
        border-radius: 2em;
    }
    .button:hover{
        background: transparent;
        border: 2px solid blue;
    }
}
footer{
    width: 100%;
    height: 200px;
    background: #101010;
    text-align: center;
    padding-top: 50px;
}
footer p:nth-child(1){
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 15px;
    width: 100%;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
    text-align: center;
    justify-content:center ;
    margin-top: 1em;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    border-radius: 50%;
    align-content: center;
    margin:  0 2px;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{

    color: blue;
    bottom: 35px;
    font-size: 14px;
    font-weight: bold;
    background-color: #101010;
    padding-top: 25px;
}

.open-nav{
    transform: translateX(0%);
}

@media only screen and (min-width: 980px) {
    .menu{
        display: none;
    }
    nav{
        transform: translateX(0);
        position: unset;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        background: none;
        margin: 0;
        padding: 0;
        
        svg{
            display: none;
        }
        ul{
            display: flex;
            margin-top: 20px;
            margin-left: 80px;
            padding: 0;
        }
        a{
            padding: .5em 1.5em;
            font-size: .9rem;
            padding: 10px 30px;
            width: 100%;
            color: white;
            font-weight: bold;
        }
        .btn{
            padding: auto;
            margin-top: 20px;
            margin-right: 20px;
            color: white;
            background: blue;
            width: 14%;
            border-radius: 10px;
        }
        li{
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            
        }
    }
    .header{
        margin: 0;
        padding: 0;
        justify-content: none;
        width: 100%;
    }
    .logo{
        margin-top: 20px;
        margin-left: 50px;
        padding: 0;
    }
    .hero{
        height: 80vh;
        background-position-y: 90%;
    }
    .content{
        margin-top: 100px;
        margin-left: 20px;
    }
    .main{
        display: flex;
        flex-direction: row-reverse;
        padding: 20px;
        h2{
            margin: unset;
            text-align: left;
            display: flex;
            padding: unset;
            margin-bottom: 25px;
        }
        button{
            text-align: left;
            display: flex;
            margin: unset;
            margin-top: 20px;
        }
        img{
            height: 70vh;
            width: 50%;
        }
    }
    .abouttext{
        width: 50%;
        margin-top: 100px;
    }
    .box{
        display: flex;
        column-gap: 25px;
    }
}


@media only screen and (min-width: 1330px) {
    .menu{
        display: none;
    }
    nav{
        transform: translateX(0);
        position: unset;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        background: none;
        margin: 0;
        padding: 0;
        
        svg{
            display: none;
        }
        ul{
            display: flex;
            margin-top: 30px;
            margin-left: 200px;
            padding: 0;
        }
        a{
            padding: .5em 1.5em;
            font-size: .9rem;
            padding: 10px 30px;
            width: 100%;
            color: white;
            font-weight: bold;
        }
        .btn{
            padding: auto;
            margin-top: 30px;
            margin-right: 40px;
            color: white;
            background: blue;
            width: 10%;
            border-radius: 10px;
        }
        li{
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            
        }
    }
    .header{
        margin: 0;
        padding: 0;
        justify-content: none;
        width: 100%;
    }
    .logo{
        margin-top: 30px;
        margin-left: 70px;
        padding: 0;
    }
    .hero{
        height: 100vh;
        background-position-y: 25%;
    }
    .content{
        margin-top: 150px;
        margin-left: 100px;
    }
    .main{
        display: flex;
        flex-direction: row-reverse;
        padding: 20px;
        h2{
            margin: unset;
            text-align: left;
            display: flex;
            padding: unset;
            margin-bottom: 25px;
        }
        button{
            text-align: left;
            display: flex;
            margin: unset;
            margin-top: 20px;
        }
        img{
            height: 200;
            width: 100;
        }
    }
    .abouttext{
        width: 50%;
        margin-top: 100px;
    }
    .box{
        display: flex;
        column-gap: 25px;
        margin: 20px;
        margin-top: 50px;
    }
    
}
